<h1>User::Customers#edit</h1>
<p>Find me in app/views/user/customers/edit.html.erb</p>


<%= form_with model: @user, url: user_information_path, method: :patch do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, value: @user.name, autofocus: true, autocomplete: "name" %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, value: @user.email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :age %><br />
    <%= f.select :age, (10..90).step(10), selected: @user.age, prompt: "年齢を選択してください" %>
  </div>

  <div class="field">
    <%= f.label :skin_quality %><br />
    <%= f.select :skin_quality, ['乾燥肌', '混合肌', '脂性肌'], selected: @user.skin_quality, prompt: "肌質を選択してください" %>
  </div>
  
  <div class="field">
    <%= f.label :skin_trouble %><br />
    <%= f.select :skin_trouble, ['ニキビ', 'シミ', 'シワ', '乾燥','特になし'], selected: @user.skin_trouble, prompt: "肌トラブルを選択してください" %>
  </div>

  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
  <div class="actions">
    <%= link_to "マイページに戻る", user_my_page_path %>
  </div>
  <div class="actions">
    <%= link_to "退会する", user_unsubscribe_path, class: "btn btn-danger" %>
  </div>
<% end %>